# Configuraciones.
.obsidian
.idea

# Contenidos futuros.
recursos_liberados/pruebas/a.c

# Contenidos sin autorización.
recursos_curso
recursos_personales
Excalidraw/Clase 4.excalidraw.md


# Ignorar todos los pdf generados.
**/*.pdf
